@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

*{
    font-family: 'Cursed Timer ULiL', sans-serif;                                            
}

.board{
    position: relative;
    width: 575px;
    height: 385px;
    background: #1B244A;
}

#home-text{
    position: absolute;
    width: 149px;
    height: 36px;
    left: 85px;
    top: 40px;
    
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */
    
    text-align: center;
    
    color: #EEEEEE;
}

#home-score{
    margin: 0;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    text-align: center;
    color: #F94F6D;
    position: absolute;
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;

    background: #080001;
    border-radius: 5px;
}

.home-btns{
    position: absolute;
    width: 155px;
    height: 45px;
    left: 82px;
    top: 270px;
}

#home-btn1,
#home-btn2,
#home-btn3{
    background-color: transparent;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */
    text-align: center;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 5px 9.2px;
    cursor: pointer;

}

#guest-text{
    position: absolute;
    width: 149px;
    height: 36px;
    left: 340px;
    top: 40px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */
    text-align: center;
    color: #EEEEEE;
}

#guest-score{
    margin: 0;
    position: absolute;
    width: 155px;
    height: 120px;
    left: 337px;
    top: 125px;
    background: #080001;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
}

.guest-btns{
    position: absolute;
    width: 155px;
    height: 45px;
    left: 335.3px;
    top: 270px;
}

#guest-btn1,
#guest-btn2,
#guest-btn3{
    background-color: transparent;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */
    text-align: center;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 5px 9.2px;
    cursor: pointer;

}